$main-header-height: 100px;

// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// BASIC STYLES
@font-face {
    font-family: 'akkurat';
    src: url('../AkkuratBold-Bold3.woff') format('woff');
    font-weight:bold;
    font-style: bold;
}
@font-face {
    font-family: 'akkurat';
    src: url('../Akkurat.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
html, body {
  font-size: 18px;
  margin: 0px;
  @include mobile {
    font-size: 15px;
  }
  line-height: 2;
  letter-spacing: 0.01em;
    font-family: 'akkurat', helvetica, sans-serif;
  font-weight: 300;
  color: #5673ff;
}

body {
	background-color: mintcream;
	min-height:100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: inherit;
  margin: 0px;
  color: #5673ff;
}

a {
	text-decoration: none;
	  color: #5673ff;
	  font-family: 'akkurat', helvetica, sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
	outline: none;
}


/* No list style for lists except in RTE content. */
ul, ol {
  list-style-type: none;

  padding: 0;
}

.rte p {
  // max-width: 1200px !important;
  margin: 0 auto !important;
}

.rte p+p {
  margin-top: 0.5em !important;

}

.rte a {
  border-bottom: 0ps solid rgba(0,0,0,0) !important;
}

img {
	width: 100%;
	display: block;
}

.entry-content {
	padding: 4vw;
}
// .site-main {
// 	min-height: calc(100vh - 10vh);
// }

// NAVIGATION / HEADER
.main-nav,
#main-menu {
	ul {
	width: 100%;
	@include flexbox();
	@include justify-content(space-between);
	padding: 2vw;
	padding-right: 4vw;
	padding-left: 4vw;
	z-index: 9999;
	li {
		// @include flex(1 1 auto);
	}
	a {
		font-size: 1.5em;
		font-weight: 500;
		letter-spacing: 0.05em;
		color: #5673ff;
		@include mobile {
			font-size: 1em;
		}
	}
	@include mobile {
		width:90%;
		margin: 0 auto;
		@include flex-direction(column)
	}
	}
}


// LANDING PAGE HEADER
.custom-background {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 100vh !important;
	width: 100vw !important;
}

.landing-page {
	@include flexbox();
	@include justify-content(center);
	padding: 2vw;
	min-height: 100vh;
	@include mobile {
		@include align-items(center);
	}
	h1 {
		text-transform: uppercase;
		margin: 0!important;
		font-size: 4em;
		z-index: 999;
		font-weight: bold;
		letter-spacing: 0.05em;
		@include mobile {
			font-size: 2.5em;
			text-align: center;
		}
	}
}

.landing-page-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	img {
		height: 100vh !important;
		width:100%;
		object-fit: cover;
	}
}

// POSTS WIDGET
#custom-home-listings .chw-widget{
	@include flexbox();
	@include flex-direction(column);
	@include align-items (center);
	@include justify-content(center);
}

// LANDING PAGE INFO
.our-story {
	max-width: 920px;
	margin: 0 auto;
	padding-right: 4vw;
	padding-left: 4vw;
	padding-bottom: 4vw;
	margin-top: 6em;
	@include mobile {
		max-width: 90%;
		margin: 0 auto;
	}
	h2 {
		text-align: center;
		font-size: 2em;
		font-weight: 500;
		letter-spacing: 0.05em;
	}
}

#custom-home-listings,
#main-menu {
	p {
	font-size: 2.5em;
    font-weight: 500;
    letter-spacing: .05em;
    color: #5673ff;
    margin: 0;
    @include mobile {
    	font-size:1.5em;
    }
	}
}

header#main-header,
#main-menu {
	padding: 0 4vw;
	@include flexbox();
	@include flex-direction(row);
	@include justify-content(space-between);
	@include align-items(center);
	position: fixed;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: $main-header-height;
	font-size: 28px;
	z-index: 100;

	@include mobile {
		@include flex-direction(column);
		background:mintgreen;
		height: auto;
	}
	h1 {
		@include flexbox();
		@include align-items(center);
		@include mobile {
			font-size:1em;
		}
	}

	.main-nav-menu-dropdowns > ul,
	#main-menu {
		@include flexbox();
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(center);

		.sub-menu {
			position: absolute;
		}
	}
}
// Grid

.grid {
	// padding-left: 4vw;
	// padding-right: 4vw;
	@include flexbox();
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	flex-grow: 1;
	margin: 0;

	.grid-item {
		text-align:center;
		// padding-bottom: 3vw;
		position: relative;
		width: 33.3333333vw;
		@include mobile {
			width:100%;
		}

		.grid-item-image-wrap {
      // background-color:#5673ff;
      // background-color: lightpink;
      // &:hover {
      // 	background-color: lightpink;
      // }

			img {
				opacity: 1;
				transition: 0.3s ease;
				height: 50vh; 
				// width: 50vw;
				display: block;
				background-color: white;
				object-fit: cover;
				@include mobile {
					height: 60vh;
					width: 100%; // 4vw padding on page
					padding-left:2vw;
				}
			}
   	}
   	.grid-item-title {
   		letter-spacing: 0.03em;
      font-size: 18px;
      font-weight: 500;
      // padding-top: 1vw;
      transition: 300ms opacity linear;
      position: absolute;
      top: 2vw;
      left: 2vw;
      @include mobile {
      	top:4vw;
      	left:4vw;
      }
   	}
	}
	&.child-hovered .grid-item:not(:hover) {
		img {
			opacity: 1;
		}

		.grid-item-title {
			opacity: 0
		}
	}
}

// just for now (until we figure out the menu thing)
.navbar {
	display:none;
}

.landing-nav {
	#menu-main-menu {
	position: absolute;
	@include mobile {
		width:100% !important;
	}
}
}

.hero-landing-location-page {
	height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    img {
    	height:100%;
    }
}
.main-post-layout {
	@include flexbox();
	@include flex-direction(row);
	@include justify-content(space-between);
	@include mobile {
		margin-bottom: 2em;

	}
	.post-text-content {
		// width: 35%;
		padding-right: 2vw;
		margin-top: -.5em;
		h1 {
			font-size: 1.2em;
			font-weight: 500;
			@include mobile {
				font-size: 1em;
			}
		}
		@include mobile {
			width: 85%;
			// margin: 0 auto;
		}
	}
	.post-gallery-content {
		width: 60%;
		img {
			cursor: pointer;
			@include mobile {
				height: 100vw;
			}
		}
		@include mobile {
			width: 90%;
			margin: 0 auto;
		}
	}
	@include mobile {
		@include flex-wrap(wrap);
	}

	.post-images {
		margin: 0;
	}
}
	// SLIDER

	.slide-count-wrap {
		position: relative;
		text-align: right;
		.left,
		.right {
			cursor: pointer;
		}

	}
.single-image {
	padding-bottom: 4vw;
}

#wrapper-footer {
	text-align: center;
	background: #0F1F3E;
	padding-top: 2vw;
	padding-bottom: 2vw;
	-webkit-font-smoothing: antialiased;
	&, a {
		color: white;
	}
	.contact-link {
		font-size: 20px;
	}
}

.location-data-area {
	border: 1px solid black;
	border-radius: 3px;
	min-height: 400px;
	width: 50%;
	display: block;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mobile {
  	width: 90%;

  	margin: 0 auto;
  	margin-top: 2em;
  }

}

.intro-slide.location-intro-slide {
	padding-top: 0;
	.post-images {
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;

	}
	img {
		width: 100%;
		height: 100%;
		width: 100vw;
		min-height: 100vh;
		max-height: 150vh;
		left: 0;
		right: 0;
		object-fit: cover;
	}
}

.location-intro-slide-control {
	position: absolute;
	top: 25%;
	width: 20%;
	height: 50%;
	z-index: 100;
	font-size: 50px;
	max-width: 200px;
	color: #5673ff;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	opacity: .75;
	&:hover {
		opacity: 1;
	}
	&.backwards {
		left: 0;
	}
	&.forwards {
		right: 0;
	}
}

.location-intro-skip {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 10%;
	z-index: 100;
	color: #5673ff;
	font-size: 50px;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	opacity: .75;
	&:hover {
		opacity: 1;
	}
}
// CATEGORY NAV
.main-nav-menu-dropdowns {
	@include flex-basis(33%);
	max-width: 600px;

	li.menu-item-has-children.sub-menu-visible ul.sub-menu{
		display: block
	}

	li.menu-item-has-children > a {
		max-width: 20vw;
		width: 200px;
		display: block;
	}

	ul.sub-menu {
		@include flexbox();
		@include flex-direction(column);
		margin:0;
		padding:0;
		display: none;
		position: absolute;
		max-height: 75vh;
		overflow: auto;
		background: white;
		width: auto;
		transition: visibility 0 linear 50ms;  // Important so it doesn't close when you try to click
		-webkit-transition: visibility 0 linear 50ms;
		-moz-transition: visibility 0 linear 50ms;
		-ms-transition: visibility 0 linear 50ms;
		li {
			margin:0;
			padding:0;
			list-style:none;
			border: 1px solid;
			transition: 0.3s all;
			background: white;
			&:hover {
				background: #0F1F3E;
				a {
					color: white;
				}
			}
		}

		a {
			padding: .5em 1em;
		}
	}
}

.category .site-main{
	// padding-top:10vw;
}

// QUICK MOBILE CHANGES
@include mobile {
	.page-title {
	padding-right: 4vw;
    padding-left: 4vw;
    width: 90%;
    margin: 0 auto;
	}
}

// .slide-count-wrap {
// 	display:none;
// }
.multiple-images {
	.slide-count-wrap {
		display:block;
	}
}

// DEFAULT PAGE
.page-template-default .site-main{
	@include flexbox();
	@include flex-direction(column);
	@include align-items(left);
	// max-width: 920px;
	// margin: 0 auto;
	padding-right: 4vw;
	padding-left: 4vw;
	padding-bottom: 4vw;
	@include mobile {
		max-width: 90%;
		margin: 0 auto;
	}
	h1 {
		// text-align: center;
		font-size: 2em;
		font-weight: 500;
		letter-spacing: 0.05em;
	}
	.entry-content {
		padding:0;
	}

}
.page-template-default {
	.entry-content {
		width:70%;
	}
}


// 404 PAGE
.search {
	@include flexbox();
	@include flex-direction(column);
	@include align-items(center);
	max-width: 920px;
	margin: 0 auto;
	padding-right: 4vw;
	padding-left: 4vw;
	padding-bottom: 4vw;
	@include mobile {
		max-width: 90%;
		margin: 0 auto;
	}
	form {
		@include flexbox();
		@include justify-content(space-evenly);
		width: 100%;
	}
}
.error {
	text-align:center;
	padding: 4vw;
}


.homepage-activity-listing h3 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 1em;
	@include mobile {
		font-size: 20px;
	}
}


.intro-slide {
	width: 100vw;
	height: 100vh;
	position: absolute;
	padding-top: 5vh;
	cursor: pointer;

	.intro-slide-image {
		position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    z-index: 10;
	}

	h1 {
		text-align: center;
		font-size: 80px;
		z-index: 20;
		position: relative;
		font-weight: bold;
		@include mobile {
			font-size: 60px;
		}
	}

	.widget {
		.widget-title {
			display: none;
		}
		text-align: center;
		font-size: 80px;
		z-index: 20;
		position: relative;
		font-weight: bold;
	}
}

// SINGLE POST FEATURED IMAGE / NAV

.single-post {
	#main-header {
		position: fixed;
		width: 100%;

		& + #single-wrapper {
			padding-top: $main-header-height;
		}
	}
}


.post-text-content-body {
	margin-bottom: 3em;
}

.add-location-to-collection-link {
	cursor: pointer;
	margin-top: 3em;
	display: block;
	display: none;
}



.pagination  {
	text-align: center;
	li {
		display: inline-block;
	}

}


.dropdowns,
#main-menu {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include mobile {
		font-size: 0.65em;

		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		width: 100%;
		position: relative;
		text-align: center;
		.dropdown{
			margin: 0 1em;
			position: static;
			max-width: 50%;
			label {
				max-width: 100%;
			}
			ul {
				left: 0;
				right: 0;
				margin: 0;
				top: 40px;
				padding-bottom: 20px;
			}
		}
	}
}
.dropdown,
.sub-menu {
	display: inline-block;
	position: relative;
	margin-left: 0.5em;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	label {
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		&::after {
			content: " ↓"
		}
	}
	ul {
		position: absolute;
		display: none;
		font-size: 16px;
		right: 0;
		top: 40px;

		li {
			position: relative;
			border: 1px solid #0f1f3e;

			& + li {
				border-top-width: 0;
			}
			a.clear {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				color: white;
				z-index: 1000;
				line-height: 42px;
				padding: 0 1em;
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
	&.active ul {
		display: block
	}
	a.dropdown-link,
	a {
		display: block;
		background: white;
		cursor: pointer;
		white-space: nowrap;
		height: 40px;
		line-height: 42px;
		padding: 0 2.5em 0 1em;
		&:hover,
		&.active  {
			background: #0f1f3e;
			color: white !important;
		}
		&.will-break-secondary-link {
			color: gray;
		}
	}
	a + a {
		// border-top-width: 0;
	}
}

#wrapper-footer {
	display:none;
}

#main-menu {
	margin: 0;
	padding: 0;
	li {
		margin-left:3em;
		position: relative;
		cursor: pointer;
	    white-space: nowrap;
	    // overflow: hidden;
	    text-overflow: ellipsis;
	    display: inline-block;
		&::after {
			content: " ↓"
		}
	}
	.sub-menu {
		position: absolute;
		display: none;
		// padding-top:2em;
		width: 215px;
		max-height: 400px;
		overflow: scroll;
		// font-size: 16px;
		// right: 0;
		// top: 40px;
		// margin:0px;
		// padding:0px;
		// padding-top:10px;
		// @include flexbox();
		// @include flex-direction(column);
		// @include align-items(flex-end);
		li {
			position: relative;
			border: 1px solid #5673ff;
			overflow:hidden;
			width:100%;
			margin:0;
			&::after {
				content: ""
			}

			a {
				font-size: 16px;
				background-color: white;
				padding: 10px;
				// border-bottom: 1px #5673ff;
				display:none;
				// transition: 0.3s ease;
				white-space: nowrap;
				height: 40px;
				line-height: 42px;
				padding: 0 2.5em 0 1em;
				display: block;
			    background: #fff;
			    cursor: pointer;
			    white-space: nowrap;
			    height: 40px;
			    line-height: 42px;
			    padding: 0 2.5em 0 1em;
			    border-right: 1px solid #5673ff;
			    text-transform: capitalize;
			    white-space: pre-wrap;
			    height: 100%;
			    @include mobile {
			    	font-size:0.65em;
			    }
			}
			& + li {
				border-top-width: 0;
			}
			a.clear {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				color: white;
				z-index: 1000;
				line-height: 42px;
				padding: 0 1em;
				&:hover {
					opacity: 0.5;
				}
			}
		}
		&.active {
			display:block;
		}
	}
	// li:hover {
		// .sub-menu {
		// 	display:block;
		// 	font-size: 16px;
		// 	right: 0;
		// 	top: 45px;
		// 	margin:0px;
		// 	padding:0px;
		// 	padding-top:10px;
		// 	@include flexbox();
		// 	@include flex-direction(column);
		// 	@include align-items(flex-end);
		// 	a:hover,
		// 	a.active  {
		// 		background: #0f1f3e;
		// 		color: white !important;
		// 		display:block;
		// 	}
		// 	a + a {
		// 		border-top-width: 0;
		// // 	}
		// }
	
}

#main-header h1{
	font-size:2em;
	font-style: italic;
}

// .et-show-dropdown
// {
//   display: block;
// }

.et-show-dropdown .sub-menu
{
    display: block !important;
    	font-size: 16px;
    	right: 0;
    	top: 45px;
    	margin:0px;
    	padding:0px;
    	line-height: 2;
    	clear: left;
    	padding:0;
    	margin: 0;
    	// padding-top:10px;
    	@include flexbox();
    	@include flex-direction(column);
    	@include align-items(flex-end);
    	li {
    		float:left;
    	}
    	a:hover {
    		background: #5673ff !important;
    		color: white !important;
    		display:block;
    	}
    	a + a {
    		border-top-width: 0;
    	}
    }

.sub-menu {
	padding:0 !important;
	margin:0 !important;
	padding-top:0.9em !important;
	li:hover {
		background: #FBF9D3 !important; 
	}
	li {
		// border-right: 1px solid #5673ff !important;
	}
}

.location-intro-slide {
	position:relative !important;
}

.dropdowns .dropdown:nth-child(1),
.dropdowns .dropdown:nth-child(2) {
	display: none;
}

.page-template-default {
	background: linear-gradient(296deg, #c9bfff, #c4fff2, #fed3ff, #ceffc9, #c3d8fb);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 43s ease infinite;
-moz-animation: AnimationName 43s ease infinite;
animation: AnimationName 43s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes AnimationName { 
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
}

.event-description {
	display:none;
}

.term-schedule {
	.grid {
		// @include flex-direction(column);
		@include flex-wrap(wrap);
		line-height:1;
	 .grid-item {
			width: 100vw !important;
			@include mobile {
				width:100vw !important;
			}
		}
		a {
			@include flexbox();
			@include flex-direction(row);
			width:100%;
			padding: 0vw 4vw;
			// width: 50vw !important;
			@include mobile {
				padding-top:4vw;
				width:100vw !important;
			}
			.grid-item-image-wrap {
				background-color: transparent;
			}
			.grid-item-image-wrap img {
				width:50vw !important;
				height: auto !important;
				@include mobile {
					// opacity:0.5;
					width: 100% !important;
					min-height: 100vh;
					// height: 60vh;
				}
			}
			.grid-text {
				position: inherit;
				padding:2vw;
				width:50vw;
				padding-top:0px;
				text-align:left;
				.grid-item-title {
					position: inherit;
					border-bottom: 1px solid;
				}
				.event-description {
					display:block;
					@include mobile {
						padding-top: 25vw;
						    padding-left: 4vw;
						    width: 100%;
					}
				}
				@include mobile {
					padding: 2vw;
					text-align: left;
					position: absolute;
					background: mintcream;
					top: 10vw;
					left: 10vw;
				}
			}

		}
	// &.child-hovered .grid-text:not(:hover) {
	// 	opacity:0;
	// }
		&.child-hovered .grid-item:not(:hover) {
		img {
			// opacity: 0.3;
		}

		.grid-item-title {
			opacity: 1;
		}
	}
	}

}

// MOBILE MENU
#mobile-menu, .mobile-menu {
	display:none;
	.menu-link {
		display:none;
	}
}

.single-post {
	header h1 a,
	header {
		// text-shadow: 1px 1px mintcream, 1px 1px 3px red;
		.sub-menu {
			text-shadow:0px 0px transparent !important;
		}
	}
	// .intro-slide {
	// 	position: fixed;
	// }
	.entry-content {
		position: absolute;
		// z-index: 999999999999999;
		top:7vw;
		width:70%;
		padding-right:0;
		@include mobile {
			width:100%;
			top:20vw;
		}
		h1 {
			display: inline;
			background: mintcream;
			padding: 2px;
		}
		p {
			display: inline;
			padding: 2px;
			background: mintcream;
			line-height: 2.5;
			@include mobile {
				line-height: 2;
				// padding:2px;
				font-size:0.75em;
			}
		}
		span {
			display: inline;
			background-color: mintream !important;
		}
		a {
			background-color: lightgreen!important;
		}
	}
	.location-intro-skip {
		display:none;
	}
	.backwards {
		display:none;
	}
}

@media only screen and (min-width: 1500px) {
body {
	// max-width:2000px;
	margin: 0 auto;
	// padding: 0 1vw;
}
.grid {
	justify-content: center !important;

}
.grid-item {
	width: 32vw !important;
	// padding-bottom: 1vw;
}
}

.slick-slide:only-child {
	.forwards {
		display:none;
	}
}

.postid-315 {
	width:100%;
	font-size:0.85em;
}

.page-template-default .entry-content a {
	background-color: lightgreen;
}

a {
	cursor: pointer;
}

.post-template-default {
	h1, p {
		color: black;
	}
	h1,
	p,
	span,
	.entry-content a {
		font-style: italic;
	}
}

.page-template-default {
	h1,
	p {
		font-style: italic;
	}
}

.mega-menu li a{
	font-style: inherit !important;
}

.postid-245 {
	.entry-content {
		width:100%;
	}
}

.menu-item-96 a {
	background: yellow !important;
}

blockquote {
	margin:0;
}
.grid-item-title {
	background-color: yellow !important;
	line-height: 1;
}
.menu-item-96{
	background: yellow !important;
}

.postid-123,
.postid-375,
.postid377,
.postid-379,
.postid-381,
.postid-383,
.postid-388,
.postid-390 {
	span{
display:none;
	}
}
